#reloj{
  font-size: 3rem;
  border: 3px solid gray;  
  border-radius:5px;
  color: rgb(65, 65, 65);
  background-color: rgb(138, 198, 200);
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-family: monospace;
  padding: 1rem;

}