@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;700&family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(226, 224, 225);
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 10px;
}
.encabezado{
    background-image: url('./img/fondo_harrypotter.jpg');
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh;

}
.menuSuperior{
    list-style-type: none;
    text-align: center;
}
.menuSuperior li{
    display: inline-block;
}
.menuSuperior a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
    font-size: 1.6rem;
}
/* Contenido */

.contenido{
  background-color: rgb(234,181,181);
  padding: 2rem;
  width: 70%;
  float: left;
}
.contenido__imagen{
  width: 50%;
}

.contenido__imagen img{
  width: 100%;
  box-shadow: 5px 5px rgba(107, 107, 107, 0.4);
  border-radius: 10px;
}

/* Sugerencias */

.contenido__sugerencias{
  background-color: rgb(161, 161, 244);
  border: solid 8px black;
  border-top: solid 12px salmon;
  line-height: 2rem;
  padding: 2rem;
  width: 30%;
  float: right;

}
.sugerencias__libros{
  width: 90%;
  padding-top: 1rem;
}

.sugerencias__libros img{
  width: 100%;
}
.lista__libros{
  padding-top: 1rem;
}

.footer{
  background-color: black;
  color: white;
  clear: both;
padding: 2rem;
text-align: center;
}







/* Ejemplo box model*/
.box_model{
background-color: aqua;
width: 250px;
height: auto;

padding-top: 10px;
padding-right: 40px;
padding-bottom: 30px;
padding-left: 20px;

padding: 10px 40px 30px 20px; /* defino los cuatro lados en una linea, sentido agujas del reloj */


margin-top: 10px;
margin-right: 40px;
margin-bottom: 30px;
padding-left: 20px;

margin: 10px 40px; /* arroba y abajo*/
/*overflow: auto;*/

border: solid 5px red;

}
