*{
  padding: 0;
  margin: 0;
}
html{
  font-size: 10px;
}

/* Mobile FIRST*/
body{
  background-color: aqua;
}

.tienda{
  background-color: rgb(146, 243, 133);
  text-align: center;
  padding: 2rem;
}

.tienda img{
  width: 60%;
}
.comunidad{
  background-color: antiquewhite;
  padding: 2rem;
  }

  .comunidad img{
    width: 80%;
  }
  .texto{
    padding: 2rem;
    font-size: 1.6rem;
  }

  .footer{
    height: 15vh;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.4rem;
  }

  @media(max-width:551px){
    .menu-principal{
      display: none;
  }
  }
  @media(min-width:552px){
    .agregado{
      display: none;
    }
  }


  /* Tableta*/
  @media(min-width:768px){
    
    body{
      background-color: blueviolet;
    }
    .tienda{
      background-color: rgb(168, 168, 244);
      display: flex;
      flex-wrap: wrap;
      padding: 1rem;
    }
    .tienda div{
      width: 30%;
      background-color: rgb(229, 229, 229);
    }
    .tienda img{
      width: 90%;
    }
    .comunidad{
      background-color: crimson;
      display: flex;
    }
  }
  @media(min-width:768px) and (max-width:1024px){
    .tienda{
        text-align: left;
    }

}

  /* Escritorios*/

  @media(min-width:992px){
    .tienda{
      flex-wrap: nowrap;
    }
  }

  /* Pantallas grandes */
  @media(min-width:1200px){
    body{
      background-color: chocolate;
    }

  } 