
#grilla{
  display: grid;
  grid-template-areas: 
  "nav header header"
  "nav productos publicidad"
  "nav servicios publicidad"
  "nav footer footer";

  grid-template-rows: 100px 1fr 1fr 75px;
  grid-template-columns: 20% auto 15%;
  row-gap:10px ;
  column-gap: 20px ;
  height: 100vh;
}
.border{
  border: 1px solid black;
}

header{
  background-color: blueviolet;
  grid-area: header;
}
footer{
  background-color: red;
  grid-area: footer;
}

section#productos{
  background-color: aquamarine;
  grid-area: productos;
}
section#servicios{
  background-color: rgb(137, 203, 238);
  grid-area: servicios;
}
nav{
  background-color: green;
  grid-area: nav;
}
aside{
  background-color: gold;
  grid-area: publicidad;
}

/* Ejemplo GRID con media queries*/

@media(min-width: 768px){
  #grilla{
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: 20% auto;

  }
  .border{
    border: 4px solid black;
    background-color: blueviolet;
  }
}

@media(min-width: 1024px){
  #grilla{
    grid-template-columns: repeat(3, 1fr);
  }
  .border{
    background-color: rgb(54, 178, 60);
  }
}